
header img {
    height: 0.8rem;
}

nav a img {
    height: 2rem;
}

.icon-small {
    width: 12%;
}

.image-medium {
    max-width: 100%;
}

#about {
    margin-top: 5.56rem;
    background: linear-gradient(146deg, #00439c 45%, #00439c00 100%);
}

#consoles {
    background-color: #f5f7fa;
}

section h1 {
    color: #fff;
}

section h5 {
    color: rgba(255,255,255,0.5);
}

section .btn {
    --bs-btn-bg: #d63d00;
    --bs-btn-color: #fff
}

@media screen and (max-width: 1023px ) {
    .row {
        flex-direction: column-reverse;
    }

    .row-cols-2>* {
        width: 100% !important;
    }

    .consoles {
        flex-direction: column;
    }
}
