
header img {
    height: 1rem;
}

nav a img {
    height: 2rem;
}

.icon-small {
    height: 5rem;
}

.image-medium {
    max-width: 100%;
}

section {
    background: linear-gradient(146deg, #00439c 45%, #00439c00 100%);
}

section h1 {
    font-size: 3.2rem;
    color: #fff;
}

section h5 {
    color: rgba(255,255,255,0.5);
}

section .btn {
    --bs-btn-bg: #d63d00;
    --bs-btn-color: #fff
}